<div id="private-article-list" v-cloak>
  <div class="container py-5">
    <div class="row">
      <p>Article list</p>
      <a href="/articles/private-add-article">Add Article</a>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
