<div id="public-article-list" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/articles/public-article-list.less</em>, <em>assets/js/pages/articles/public-article-list.page.js</em>, and <em>api/controllers/articles/view-public-article-list.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
